:root {
    --color-primary: #FF8D1B;
    --color-secondary: #07224B;
    --color-primary-inverse: #F4DBB4;

    /* primary color palette */
    --col-primary-100: #FFE8D1;
    --col-primary-200: #FFD1A3;
    --col-primary-300: #FFBA75;
    --col-primary-400: #FFA347;
    --col-primary-500: #FF8D1B;
    --col-primary-600: #E07000;
    --col-primary-700: #A85400;
    --col-primary-800: #703800;
    --col-primary-900: #381C00;

    /* secondary color palette */
    --col-secondary-100: #B1CDF8;
    --col-secondary-200: #629BF0;
    --col-secondary-300: #1669E7;
    --col-secondary-400: #0E4699;
    --col-secondary-500: #07224B;
    --col-secondary-600: #061B3C;
    --col-secondary-700: #04142D;
    --col-secondary-800: #030E1E;
    --col-secondary-900: #01070F;

    --col-gray-100: #F4F4F4;
    --col-gray-200: #E0E0E0;
    --col-gray-300: #C4C4C4;
    --col-gray-400: #A8A8A8;
    --col-gray-500: #8C8C8C;
    --col-gray-600: #707070;
    --col-gray-700: #545454;
    --col-gray-800: #383838;
    --col-gray-900: #1C1C1C;


    /* Spacing Scale (multiples of 4px) */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;
    --space-14: 56px;
    --space-16: 64px;
    --space-20: 80px;
    --space-24: 96px;

    /* Semantic aliases (optional, for clarity) */
    --space-xs: var(--space-1);
    /* 4px */
    --space-sm: var(--space-2);
    /* 8px */
    --space-md: var(--space-4);
    /* 16px */
    --space-lg: var(--space-6);
    /* 24px */
    --space-xl: var(--space-8);
    /* 32px */
    --space-xxl: var(--space-16);
    /* 64px */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 42px;
}